body{
    background-color: hsl(30, 38%, 92%);
}

.img_container{
    display: flex;
    position: relative;
    top: 1px;
    left: 3px;
    height: 330px;
    width: 250px;
}

.card{
    display: flex;
    background-color: white;
    max-width: 444px;
    margin: 0 1rem;
    border-radius: 10px;
    position: relative;
    top: 200px;
    left: 450px;
}

h6#a {
    color: hsl(228, 12%, 48%);
    line-height: 2.5px;

}

h1#b {
    font-weight: Bold;
    line-height: 25.5px;
}

h6#c {
    color: hsl(228, 12%, 48%);
    line-height: 16.5px;
    font-size: 12px;
}

h1#d {
    color: hsl(158, 36%, 37%);
    line-height: 0.5px;
    
}

.price_container {
    display: flex;
    gap: 1rem;
    line-height: 12px;
  
}

p#e {
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
}

button#f {
    background-color:hsl(158, 36%, 37%);
    border-radius: 5px;
    border: none;
    color: white;
    height: 25px;
    width: 180px;
}

    

